{{ define "main" }}
  {{ partial "page-header" . }}
  {{ $currentMembers := where .RegularPages "Params.former" "ne" true }}
  {{ $portugueseSites := where site.Sites "Language.Lang" "pt" }}
  {{ $portugueseSite := index $portugueseSites 0 }}
  {{ $formerMembers := where $portugueseSite.RegularPages "Params.former" "eq" true }}
  {{ $formerTitles := dict "pt" "Membros antigos" "en" "Former Members" "fr" "Anciens membres" "es" "Miembros antiguos" "zh" "前成员" }}
  {{ $formerTitle := index $formerTitles .Lang | default "Honorable Mention to Former Members" }}

  <section class="section">
    <div class="container">
      <div class="row">
        {{ range $currentMembers }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

      {{ if gt (len $formerMembers) 0 }}
        <section class="former-members mt-16" aria-labelledby="former-members-heading">
          <h2 id="former-members-heading" class="h3 mb-8 text-center">{{ $formerTitle }}</h2>
          <div class="row">
            {{ range $formerMembers.ByParam "former_weight" }}
              <div class="md:col-6 lg:col-4 mb-14">
                {{ partial "components/author-card" . }}
              </div>
            {{ end }}
          </div>
        </section>
      {{ end }}
    </div>
  </section>
{{ end }}
